# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db
System Volume Information/

# Editor
.idea/
.vscode/
*.swp

# Keep empty dirs
!.gitkeep
web/data.json
web/.last-sync

# Python
__pycache__/
*.pyc
